.collapseTemplate {
  .ant-collapse-item-active {
    .ant-collapse-header {
      background-color: rgb(246, 249, 255);
    }
  }

  .ant-collapse-content-box {
    padding: 5px 16px !important;
  }
}
