.collapseTemplate {
  .ant-collapse-item-active {
    .ant-collapse-header {
      background-color: rgb(246, 249, 255);
    }
  }

  .ant-collapse-content-box {
    padding: 5px 16px !important;
  }
}

.dragger-template-document {
  .ant-upload.ant-upload-drag {
    border: none;
    .ant-upload.ant-upload-btn {
      padding: 0;
    }
  }

  .ant-card-head,
  .ant-card-body {
    max-width: calc(100vw - 90px);
  }

  .collapseTemplate {
    .ant-collapse-header {
      display: flex;
      padding: 8px 16px !important;
      align-items: center;

      .ant-collapse-header-text {
        text-align: start;
      }
    }
    .ant-upload-wrapper {
      text-align: start;
      .ant-upload.ant-upload-select {
        padding: 0;
        .ant-upload {
          padding: 0;
        }
      }
    }
  }
}

.filter-header {
  .ant-input {
    background-color: transparent;
    border-color: transparent !important;
    border: none;
    box-shadow: none !important;
  }
  .ant-input::placeholder {
    font-size: 14px;
    color: #747578eb !important;
  }

  .ant-select.ant-tree-select {
    .ant-select-selector {
      background-color: transparent;
      border-color: transparent !important;
      border: none;
      box-shadow: none !important;
    }
  }
  .ant-select-selection-placeholder {
    font-size: 14px;
    color: #747578eb !important;
  }

  .ant-select-arrow {
    color: #747578eb !important;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}

.selectFilter {
  .ant-select-selector {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    .ant-select-selection-item {
      color: #344054 !important;
    }
  }
}

.dateFilter {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  .ant-picker-input {
    > input::placeholder {
      color: #747578eb !important;
      font-size: 14px;
    }
    .ant-picker-suffix {
      color: #747578eb !important;
    }
  }
}
