.dashboard-library {
  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }
  .ant-spin-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
